{% extends "module.html" %}
{% block title %}
    客户管理
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/product.css">
{% endblock %}

{% block content %}
    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li style="color: white;line-height: 35px">客户管理</li>
            </ul>
        </div>
        <div class="admin">
            <div class="p_content">
                <div class="datablock">
                    <table class="am-table">
                        <thead>
                            <tr>
                                <th>客户名称</th>
                                <th>电话</th>
                                <th>车型</th>
                                <th>录入时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for line in data %}
                            <tr>
                                <td style="display: none;" class="cid">{{ line.cid }}</td>
                                <td>{{ line.cname }}</td>
                                <td>{{ line.ctelphone }}</td>
                                <td>{{ line.car }}</td>
                                <td>{{ line.create_time|date:"Y-m-d H:i:s" }}</td>
                                <td><button type="button" class="btn btn-success" id="edit">编辑</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <button type="button" class="btn btn-primary btn-lg" id="add_customer">客户录入</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mode"></div>
    <div class="add_product">
        <div class="page-header">
            <h2>客户录入</h2>
        </div>
        <form class="form-horizontal" method="POST" action="/customer/">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">客户姓名</label>
                <div class="col-sm-10">
{#                    <input class="form-control" id="name" placeholder="客户姓名">#}
                    {{ obj.cname }}
                </div>
            </div>
            <div class="form-group">
                <label for="ctelphone" class="col-sm-2 control-label">电话</label>
                <div class="col-sm-10">
{#                    <input class="form-control" id="cost" placeholder="进价">#}
                    {{ obj.ctelphone }}
                </div>
            </div>
            <div class="form-group">
                <label for="car" class="col-sm-2 control-label">车型</label>
                <div class="col-sm-10">
{#                    <input class="form-control" id="price" placeholder="售价">#}
                    {{ obj.car }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success" id="add">录入</button>
                    <button type="button" class="btn btn-default" id="cancel">取消</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footerjs %}
    <script type="application/javascript">
        $('#add_customer').click(function () {
            $('.mode,.add_product').css('display','block');
        });
        $('#cancel').click(function () {
            $('.mode,.add_product').css('display','none');
        });
        $('#add').click(function () {
            var cname = $('[name="cname"]').val();
            var ctelphone = $('[name="ctelphone"]').val();
            var car = $('[name="car"]').val();
            var sdata = {'cname':cname,'ctelphone':ctelphone,'car':car};
            $.ajax({
                url:"/customer/",
                method:"POST",
                data:sdata,
                type:"text",
                success:function (data) {
                    var obj = JSON.parse(data);
                    if (obj['status'] == 'OK') {
                        alert(obj['msg']);
                        window.location.reload();
                    }else {
                        alert(obj['msg']);
                    }
                }
            });
        });
    </script>
{% endblock %}