<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="鸿润达润滑油销售管理系统">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    {% block css %}

    {% endblock %}
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</head>

<body>
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
{#        <a href="/index/"><img src="/static/assets/i/logo.png"></a>#}
        <a href="/index/" style="text-decoration: none"><span style="font-size: 1.6em;font-weight: 600;">鸿润达润滑油销售管理系统</span></a>
    </div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">
<!--            <li class="am-dropdown tognzhi" data-am-dropdown>
                <button class="am-btn am-btn-primary am-dropdown-toggle am-btn-xs am-radius am-icon-bell-o" data-am-dropdown-toggle> 消息管理<span class="am-badge am-badge-danger am-round">6</span>
                </button>
                <ul class="am-dropdown-content">
                    <li class="am-dropdown-header">所有消息都在这里</li>
                    <li><a href="#">未激活会员 <span class="am-badge am-badge-danger am-round">556</span></a></li>
                    <li><a href="#">未激活代理 <span class="am-badge am-badge-danger am-round">69</span></a></li>
                    <li><a href="#">未处理汇款</a></li>
                    <li><a href="#">未发放提现</a></li>
                    <li><a href="#">未发货订单</a></li>
                    <li><a href="#">低库存产品</a></li>
                    <li><a href="#">信息反馈</a></li>
                </ul>
            </li> -->
            <li class="kuanjie">
                <a href="/logout/">登出</a>
            </li>
            <li class="soso">
                <p class="ycfg">
                    <input type="text" class="am-form-field am-input-sm" placeholder="搜索"/>
                </p>
                <p>
                    <button class="am-btn am-btn-xs am-btn-default am-xiao"><i class="am-icon-search"></i></button>
                </p>
            </li>
            <li class="am-hide-sm-only" style="float: right;"></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <div class="nav-navicon admin-main admin-sidebar">
        <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 0 0 10px 0;"> 欢迎登录：{{ user }}</div>
        <div class="sideMenu">
            {% if role == "admin" %}
                <h3 class="am-icon-flag"><em></em> <a href="#">商品管理</a></h3>
                <ul>
                    <li><a href="/product/">商品列表</a></li>
                </ul>
                <h3 class="am-icon-cart-plus"><em></em> <a href="#">业绩管理</a></h3>
                <ul>
                    <li><a href="/deal/">业绩查询</a></li>
                </ul>
                <h3 class="am-icon-users"><em></em> <a href="#">客户管理</a></h3>
                <ul>
                    <li><a href="/customer/">所有客户</a></li>
                    <li><a href="/customer/?crole=normal">普通客户</a></li>
                    <li><a href="/customer/?crole=vip">VIP客户</a></li>
                </ul>
                <h3 class="am-icon-volume-up"><em></em> <a href="#">员工管理</a></h3>
                <ul>
                    <li><a href="/staff/">添加职员</a></li>
                    <li><a href="/staff/">人员查询</a></li>
                </ul>
                {% elif role == "sale" %}
                    <h3 class="am-icon-volume-up"><em></em> <a href="#">订单管理</a></h3>
                    <ul>
                        <li><a href="/customer/">客户管理</a></li>
                        <li><a href="/deal/">报单</a></li>
                    </ul>
                {% elif role == "accounting" %}
                    <h3 class="am-icon-volume-up"><em></em> <a href="#">财务管理</a></h3>
                    <ul>
                        <li><a href="/salary/">工资结算</a></li>
                    </ul>
            {% endif %}
        </div>
        <!-- sideMenu End -->
        <script type="text/javascript">
            jQuery(".sideMenu").slide({
                titCell: "h3", //鼠标触发对象
                targetCell: "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
                effect: "slideDown", //targetCell下拉效果
                delayTime: 300, //效果时间
                triggerTime: 150, //鼠标延迟触发时间（默认150）
                defaultPlay: true,//默认是否执行效果（默认true）
                returnDefault: true //鼠标从.sideMen移走后返回默认状态（默认false）
            });
        </script>
    </div>
    {% block content %}

    {% endblock %}
</div>
<script type="application/javascript" src="/static/login/jquery.cookie.js"></script>
<script src="/static/assets/js/amazeui.min.js"></script>
<script type="application/javascript">
    var username = $.cookie('username');
    console.log(username);
</script>
{% block footerjs %}

{% endblock %}
</body>
</html>